#loading-mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 20000;
  background-color: white; }

#loading {
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 2px;
  z-index: 20001;
  height: auto;
  margin: -35px 0 0 -30px; }

#loading .loading-indicator {
  background: url(../img/onloader.gif) no-repeat;
  color: #555;
  padding: 53px 0px;
  margin: 0;
  height: auto;
  font: 13px tahoma,arial,helvetica;
  text-align: center; }

@keyframes blink {
  from {
    opacity: 1.0; }

  to {
    opacity: 0.1; } }

@-webkit-keyframes blink {
  from {
    opacity: 1.0; }

  to {
    opacity: 0.1; } }

@-moz-keyframes blink {
  from {
    opacity: 1.0; }

  to {
    opacity: 0.1; } }

.gauge {
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  -ms-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  overflow: hidden; }
  .gauge span {
    font-size: 11px; }
  .gauge label {
    font-weight: bold; }
  .gauge > span {
    white-space: nowrap; }
  .gauge .bar {
    margin-top: 3px;
    background-color: lightgray; }
    .gauge .bar div {
      background-color: blue;
      transition: width 0.25s ease-out;
      -ms-transition: width 0.25s ease-out;
      -webkit-transition: width 0.25s ease-out;
      -moz-transition: width 0.25s ease-out; }
    .gauge .bar, .gauge .bar div {
      height: 5px;
      border-radius: 2.5px; }
    .gauge .bar.overload {
      animation: blink 0.5s infinite alternate;
      -ms-animation: blink 0.5s infinite alternate;
      -webkit-animation: blink 0.5s infinite alternate;
      -moz-animation: blink 0.5s infinite alternate; }
  .gauge.with-icon {
    padding-left: 35px;
    background-repeat: no-repeat;
    background-position: 5px 5px; }
  .gauge.with-border {
    border: 1px solid lightblue; }

#vmmap .node-cell {
  border: 1px solid #CCC;
  padding: 5px;
  margin-right: -1px;
  margin-top: -1px;
  float: left; }
  #vmmap .node-cell:hover .uptime {
    opacity: 0.5; }
  #vmmap .node-cell.inactive {
    background-color: #FEDEDE; }
  #vmmap .node-cell.selected {
    background-color: #D0F8F0; }
  #vmmap .node-cell.tag-highlight {
    border: 2px solid #333399;
    margin-right: 0px; }
#vmmap .node-cell-free {
  border: 1px solid #CCC;
  padding: 5px 5px 42px;
  margin-top: -1px;
  float: left;
  background-color: #D0F8D0;
  opacity: 0.6; }
#vmmap .x-grid-cell-inner {
  overflow-x: auto; }
#vmmap .name {
  font-decoration: italic;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  height: 1.2em;
  margin-left: 2px; }
#vmmap .mem {
  margin-top: 2px;
  padding-left: 8px;
  color: #4e0e0e;
  text-align: center;
  font-size: 120%; }
#vmmap .uptime {
  color: #303030;
  opacity: 0.25; }
#vmmap .cores {
  margin-left: 3px;
  color: #6e6eae; }
#vmmap .resize-container {
  display: inline-block;
  float: left;
  margin-right: 4px; }
#vmmap .resizer {
  margin-top: -1px;
  cursor: w-resize;
  float: left;
  width: 18px;
  background-color: #CCC; }
#vmmap .bar {
  max-width: 40px;
  margin-top: 3px;
  background-color: lightgray; }
  #vmmap .bar div {
    width: 0px;
    transition: width 0.25s ease-out;
    -ms-transition: width 0.25s ease-out;
    -webkit-transition: width 0.25s ease-out;
    -moz-transition: width 0.25s ease-out; }
  #vmmap .bar.cpubar div {
    background-color: #007FF6; }
  #vmmap .bar.memorybar div {
    background-color: #80A050; }
  #vmmap .bar.diskspacebar div {
    background-color: #FFD838; }
  #vmmap .bar, #vmmap .bar div {
    height: 5px;
    border-radius: 2.5px; }
  #vmmap .bar.cpubar, #vmmap .bar div {
    background-color: #B0C0C8; }
  #vmmap .bar.memorybar, #vmmap .bar div {
    background-color: #B0C0A8; }
  #vmmap .bar.diskspacebar, #vmmap .bar div {
    background-color: #C8C098; }
  #vmmap .bar.overload {
    animation: blink 0.5s infinite alternate;
    -ms-animation: blink 0.5s infinite alternate;
    -webkit-animation: blink 0.5s infinite alternate;
    -moz-animation: blink 0.5s infinite alternate; }
#vmmap .tags {
  margin-top: 15px;
  float: right; }
#vmmap .tag {
  text-align: center;
  color: #000000;
  width: 16px;
  height: 16px;
  opacity: 0.25; }
  #vmmap .tag:hover {
    opacity: 0.7; }

#search-results {
  width: 215px;
  overflow: hidden; }
  #search-results .search-result {
    padding: 0px 5px;
    cursor: pointer; }
    #search-results .search-result .hostname {
      font-weight: bold; }
    #search-results .search-result .descr {
      width: 156px;
      line-height: 1.5em; }
      #search-results .search-result .descr, #search-results .search-result .descr .hostname {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
    #search-results .search-result.x-item-over {
      background-color: #ccccff; }
    #search-results .search-result.x-item-selected {
      background-color: #b3b3ff !important; }

.compute .state-icon {
  float: left;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-botton: 0px;
  width: 24px;
  height: 30px;
  border-width: 1px;
  background-color: #99FF66;
  border-style: solid;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/icon/mainframe.png"); }
.compute.state-inactive .state-icon {
  opacity: 0.5;
  background-color: #FFFFFF;
  border-color: #CCCCCC; }

.icon-hd {
  background-image: url("../img/icon/hd.png"); }

.icon-cpu {
  background-image: url("../img/icon/cpu.png"); }

.icon-network {
  background-image: url("../img/icon/network.png"); }

.icon-memory {
  background-image: url("../img/icon/memory.png"); }

.x-tab-icon.icon-hd {
  background-image: url("../img/icon/hd-16x16.png"); }
.x-tab-icon.icon-network {
  background-image: url("../img/icon/network-16x16.png"); }
.x-tab-icon.icon-system {
  background-image: url("../img/icon/mainframe-16x16.png"); }
.x-tab-icon.icon-shell {
  background-image: url("../img/icon/shell-16x16.png"); }
.x-tab-icon.icon-templates {
  background-image: url("../img/icon/template-16x16.png"); }
.x-tab-icon.icon-vmlist {
  background-image: url("../img/icon/vmlist-16x16.png"); }
.x-tab-icon.icon-vmmap {
  background-image: url("../img/icon/map-16x16.png"); }

.x-action-col-icon {
  opacity: 0.7; }
  .x-action-col-icon:hover {
    opacity: 1.0; }

.horizontal-dataview-item, .bridge-interface-members div {
  float: left;
  margin-right: 2px;
  margin-bottom: 2px;
  padding: 3px;
  border-radius: 10px;
  -ms-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  cursor: default; }

.template-picker-item:nth-child(odd) {
  background: #E8E8FF; }
  .template-picker-item:nth-child(odd).x-boundlist-item-over {
    background: #DFE8F6; }

.bridge-interface-members {
  min-height: 20px; }
  .bridge-interface-members div {
    border: 2px solid #d7d7ff;
    background-color: #f0f0ff; }
    .bridge-interface-members div:hover {
      border: 2px solid #bdbdff;
      background-color: #d7d7ff; }

.cpu-legend {
  background: url("../img/icon/cpu-legend.png"); }

.memory-legend {
  background: url("../img/icon/memory-legend.png"); }

.disk-legend {
  background: url("../img/icon/disk-legend.png"); }

.computestatecontrol .x-btn {
  border-width: 0;
  background: transparent;
  opacity: 0.75; }
  .computestatecontrol .x-btn:hover {
    opacity: 1.0; }
  .computestatecontrol .x-btn.x-btn-disabled {
    opacity: 0.35 !important; }
