#header h1 {
  font-family: serif;
  font-size: 28px;
  color: #1a1a1a;
  font-weight: normal; }

#compute-list {
  width: 200px;
  overflow: hidden; }
  #compute-list .compute {
    padding: 10px 5px;
    cursor: pointer; }
    #compute-list .compute .name {
      font-weight: bold; }
    #compute-list .compute .descr {
      width: 160px;
      line-height: 1.5em; }
      #compute-list .compute .descr, #compute-list .compute .descr .name {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
    #compute-list .compute.x-item-over {
      background-color: #ccccff; }
    #compute-list .compute.x-item-selected {
      background-color: #b3b3ff !important; }
  #compute-list .status-icon {
    float: left;
    margin: 5px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; }
  #compute-list .compute.status-online .status-icon {
    background-color: green; }
  #compute-list .compute.status-offline .status-icon {
    background-color: gray; }

.gauge {
  text-align: center;
  padding: 5px;
  border: 1px solid lightblue;
  border-radius: 5px; }
  .gauge span {
    font-size: 11px; }
  .gauge label {
    font-weight: bold; }
  .gauge .bar {
    margin-top: 3px;
    background-color: lightgray; }
    .gauge .bar div {
      background-color: blue;
      -webkit-transition: width 0.25s ease-out; }
    .gauge .bar, .gauge .bar div {
      height: 5px;
      border-radius: 2.5px; }
