@import "utils";

.gauge {
    text-align: center;
    padding: 5px;
    border: 1px solid lightblue;
    @include -border-radius(5px);

    span { font-size: 11px; }
    label { font-weight: bold; }

    .bar {
        margin-top: 3px;
        background-color: lightgray;

        div {
            background-color: blue;
            -webkit-transition: width 0.25s ease-out;
        }

        &, div {
            $height: 5px;

            height: $height;
            border-radius: $height / 2;
        }
    }

    &.with-icon {
        padding-left: 35px;
        background-repeat: no-repeat;
        background-position: 5px 5px;
    }
}
