#header {
    h1 {
        font-family: serif;
        font-size: 28px;
        color: #1a1a1a;
        font-weight: normal;
    }
}

$SCROLLBAR-WIDTH: 15px;

$compute-list-width: 200px + $SCROLLBAR-WIDTH;
$state-icon-size: 24px;
$state-icon-margin: 5px;
$compute-horizontal-padding: 5px;
$item-hover-color: #ccf;

#compute-list {
    width: $compute-list-width;

    overflow: hidden;

    .compute {
        padding: 10px $compute-horizontal-padding;
        cursor: pointer;

        .hostname { font-weight: bold; }

        .descr {
            width: $compute-list-width - (2 * $compute-horizontal-padding +
                                          $state-icon-size +
                                          2 * $state-icon-margin) - $SCROLLBAR-WIDTH;
            line-height: 1.5em;

            &, .hostname {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }

        &.x-item-over { background-color: $item-hover-color; }
        &.x-item-selected { background-color: darken($item-hover-color, 5%) !important; }
    }
}

.state-icon {
    float: left;
    margin: $state-icon-margin;
    width: $state-icon-size;
    height: $state-icon-size;

    border-radius: $state-icon-size / 2;
    -moz-border-radius: $state-icon-size / 2;
    -webkit-border-radius: $state-icon-size / 2;

    background-image: url(../img/icon/mainframe.png);
}

.compute {
        /* &.state-active .state-icon { background-color: green; } */
        /* &.state-inactive .state-icon { background-color: gray; } */
    &.state-inactive .state-icon { opacity: 0.5; }
}

.gauge {
    text-align: center;
    padding: 5px;
    border: 1px solid lightblue;
    border-radius: 5px;

    span { font-size: 11px; }
    label { font-weight: bold; }

    .bar {
        margin-top: 3px;
        background-color: lightgray;

        div {
            background-color: blue;
            -webkit-transition: width 0.25s ease-out;
        }

        &, div {
            $height: 5px;

            height: $height;
            border-radius: $height / 2;
        }
    }

    &.with-icon {
        padding-left: 35px;
        background-repeat: no-repeat;
        background-position: 5px 5px;
    }
}


.icon-hd {
    background-image: url('../img/icon/hd.png');
}
.x-tab-icon.icon-hd {
    background-image: url('../img/icon/hd-16x16.png');
}
.icon-cpu {
    background-image: url('../img/icon/cpu.png');
}
.icon-network {
    background-image: url('../img/icon/network.png');
}
.x-tab-icon.icon-network {
    background-image: url('../img/icon/network-16x16.png');
}
.x-tab-icon.icon-mainframe {
    background-image: url('../img/icon/mainframe-16x16.png');
}

.x-action-col-icon {
    opacity: 0.7;
    &:hover { opacity: 1.0; }
}
