.gauge {
  text-align: center;
  padding: 5px;
  border: 1px solid lightblue;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }
  .gauge span {
    font-size: 11px; }
  .gauge label {
    font-weight: bold; }
  .gauge .bar {
    margin-top: 3px;
    background-color: lightgray; }
    .gauge .bar div {
      background-color: blue;
      -webkit-transition: width 0.25s ease-out; }
    .gauge .bar, .gauge .bar div {
      height: 5px;
      border-radius: 2.5px; }
  .gauge.with-icon {
    padding-left: 35px;
    background-repeat: no-repeat;
    background-position: 5px 5px; }

#compute-list {
  width: 215px;
  overflow: hidden; }
  #compute-list .compute {
    padding: 10px 5px;
    cursor: pointer; }
    #compute-list .compute .hostname {
      font-weight: bold; }
    #compute-list .compute .descr {
      width: 156px;
      line-height: 1.5em; }
      #compute-list .compute .descr, #compute-list .compute .descr .hostname {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
    #compute-list .compute.x-item-over {
      background-color: #ccccff; }
    #compute-list .compute.x-item-selected {
      background-color: #b3b3ff !important; }

.state-icon {
  float: left;
  margin: 5px;
  width: 24px;
  height: 24px;
  background-image: url("../img/icon/mainframe.png"); }

.compute.state-inactive .state-icon {
  opacity: 0.5; }

.icon-hd {
  background-image: url("../img/icon/hd.png"); }

.icon-cpu {
  background-image: url("../img/icon/cpu.png"); }

.icon-network {
  background-image: url("../img/icon/network.png"); }

.x-tab-icon.icon-hd {
  background-image: url("../img/icon/hd-16x16.png"); }

.x-tab-icon.icon-network {
  background-image: url("../img/icon/network-16x16.png"); }

.x-tab-icon.icon-mainframe {
  background-image: url("../img/icon/mainframe-16x16.png"); }

.x-tab-icon.icon-shell {
  background-image: url("../img/icon/shell-16x16.png"); }

.x-tab-icon.icon-template {
  background-image: url("../img/icon/template-16x16.png"); }

.x-tab-icon.icon-status {
  background-image: url("../img/icon/status-16x16.png"); }

.x-action-col-icon {
  opacity: 0.7; }
  .x-action-col-icon:hover {
    opacity: 1.0; }

.horizontal-dataview-item, .bridge-interface-members div {
  float: left;
  margin-right: 2px;
  margin-bottom: 2px;
  padding: 3px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  cursor: default; }

.bridge-interface-members {
  min-height: 20px; }
  .bridge-interface-members div {
    border: 2px solid #d7d7ff;
    background-color: #f0f0ff; }
    .bridge-interface-members div:hover {
      border: 2px solid #bdbdff;
      background-color: #d7d7ff; }
