@import "utils";

@import "gauge";

$ICON-PREFIX: "../img/icon/";
@function ico($name) {
    @return $ICON-PREFIX + $name + ".png";
}


$state-icon-size: 24px;
$state-icon-margin: 5px;

#search-results {
    $SCROLLBAR-WIDTH: 15px;
    $search-results-width: 200px + $SCROLLBAR-WIDTH;
    $search-results-horizontal-padding: 5px;

    width: $search-results-width;

    overflow: hidden;

    .search-result {
        padding: 10px $search-results-horizontal-padding;
        cursor: pointer;

        .hostname { font-weight: bold; }

        .descr {
            width: $search-results-width - (2 * $search-results-horizontal-padding +
                                            $state-icon-size +
                                            2 * $state-icon-margin) - $SCROLLBAR-WIDTH;
            line-height: 1.5em;

            &, .hostname {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }

        $item-hover-color: #ccf;
        &.x-item-over { background-color: $item-hover-color; }
        &.x-item-selected { background-color: darken($item-hover-color, 5%) !important; }
    }
}


.compute {
    .state-icon {
        float: left;
        margin: $state-icon-margin;
        width: $state-icon-size;
        height: $state-icon-size;

        background-image: url(ico("mainframe"));
    }

    &.state-inactive .state-icon { opacity: 0.5; }
}


.icon-hd {
    background-image: url(ico("hd"));
}
.icon-cpu {
    background-image: url(ico("cpu"));
}
.icon-network {
    background-image: url(ico("network"));
}
.icon-memory {
    background-image: url(ico("memory"));
}

.x-tab-icon {
    &.icon-hd {
        background-image: url(ico("hd-16x16"));
    }
    &.icon-network {
        background-image: url(ico("network-16x16"));
    }
    &.icon-mainframe {
        background-image: url(ico("mainframe-16x16"));
    }
    &.icon-shell {
        background-image: url(ico("shell-16x16"));
    }
    &.icon-template {
        background-image: url(ico("template-16x16"));
    }
    &.icon-vmlist {
        background-image: url(ico("vmlist-16x16"));
    }
}

.x-action-col-icon {
    opacity: 0.7;
    &:hover { opacity: 1.0; }
}


@mixin bg-and-border($color) {
    border: 2px solid darken($color, 5%);
    background-color: $color;
}


.horizontal-dataview-item {
    float: left;
    margin-right: 2px;
    margin-bottom: 2px;
    padding: 3px;
    @include xbrowser(border-radius, 10px);
    cursor: default;
}


// NETWORK TAB
.bridge-interface-members {
    min-height: 20px;
    div {
        @extend .horizontal-dataview-item;

        $color: #f0f0ff;
        @include bg-and-border($color);

        &:hover {
            @include bg-and-border(darken($color, 5%));
        }
    }
}

