@import "utils";

@import "loader";
@import "gauge";
@import "vmmap";
@import "shell";

$ICON-PREFIX: "../img/icon/";
@function ico($name) {
    @return $ICON-PREFIX + $name + ".png";
}


$state-icon-size: 30px;
$search-result-height: 40px;
$state-icon-margin: 5px;

#search-results {
    $SCROLLBAR-WIDTH: 15px;
    $search-results-width: 200px + $SCROLLBAR-WIDTH;
    $search-results-horizontal-padding: 5px;

    width: $search-results-width;

    overflow: hidden;

    .search-result {
        cursor: pointer;
        border-bottom: 1px solid #d9e2eb;
        border-top: 1px solid #d9e2eb;
        background: #fff;
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff) to(#ecf1f5));
        background-image: -webkit-linear-gradient(top, #ffffff, #ecf1f5);
        background-image: -moz-linear-gradient(top, #ffffff, #ecf1f5);
        background-image: -o-linear-gradient(top, #ffffff, #ecf1f5);
        background-image: linear-gradient(top, #ffffff, #ecf1f5);
        height: $search-result-height+1;
        .hostname { font-weight: bold; }
        .descr {
            font-size:12px;
            padding-top: 2px;
            color: #363636;
            width: $search-results-width - (2 * $search-results-horizontal-padding +
                                            $state-icon-size +
                                            2 * $state-icon-margin) - $SCROLLBAR-WIDTH + 6;
            line-height: 1.5em;
            display: block;

            &, .hostname {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }

        $item-hover-color: #ccf;
        &.x-item-over { background-color: $item-hover-color; }
        &.x-item-selected { background-color: darken($item-hover-color, 5%) !important; }
    }
}

.state-color {
  display: block;
  width: 10px;
  height: $search-result-height - 1;
  float: left;
  background-color: white;
  background-image: url("../img/shadow_left.png");
  background-position: top right;
  background-repeat: repeat-y;
}
.state-active .state-color{
  background-color: #04ad04;
}
.state-running .state-color{
  background-color: #76ce00;
}  
.state-suspended .state-color{
  background-color: #F55600;
}  
.state-inactive .state-color{
  background-color: gray;
}  
.state-error .state-color{
  background-color: #e5231f;
}  

.state-migrating .state-color{
  background-image: url("../img/load_blue.gif");
}  
.state-other .state-color{
  background-image: url("../img/load_orange.gif");
}  
.state-creating .state-color{
  background-image: url("../img/load_green.gif");
}  
.state-wait .state-color{
  background-image: url("../img/load_wait.gif");
  background-position: top center;
}  



.state-suspended .state-color{
  background-color: #ffee66;
}  
.state-stopped .state-color{
  background-color: #ee6633;
}  


.compute {
     .split-vertical{
        display: block;
        background: transparent;
        width: 3px;
        height: $search-result-height;
        margin-right:3px;
        float: left;
        background-image: url("../img/shadow_right.png");
        background-position: top left;
        background-repeat: repeat-y;
      }
    .comp-icon{
      @include c-icon;
       background-image: url(ico("mainframe-24x36"));
    }
    .vm-icon{
      @include c-icon;
       background-image: url(ico("mainframe-VM-24x24"));
    }
}


.icon-hd {
    background-image: url(ico("hd"));
}
.icon-cpu {
    background-image: url(ico("cpu"));
}
.icon-network {
    background-image: url(ico("network"));
}
.icon-memory {
    background-image: url(ico("memory"));
}

.x-tab-icon {
    &.icon-hd {
        background-image: url(ico("hd"));
    }
    &.icon-network {
        background-image: url(ico("network"));
    }
    &.icon-system {
        background-image: url(ico("mainframe-24x24"));
    }
    &.icon-shell {
        background-image: url(ico("shell-24x24"));
    }
    &.icon-templates {
        background-image: url(ico("template"));
    }
    &.icon-vmlist {
        background-image: url(ico("vmlist"));
    }
    &.icon-vmmap {
        background-image: url(ico("map-24x24"));
    }
    &.icon-dashboard {
        background-image: url(ico("dashboard"));
    }
}

.x-action-col-icon {
    opacity: 0.7;
    &:hover { opacity: 1.0; }
}


@mixin bg-and-border($color) {
    border: 2px solid darken($color, 5%);
    background-color: $color;
}


.horizontal-dataview-item {
    float: left;
    margin-right: 2px;
    margin-bottom: 2px;
    padding: 3px;
    @include xbrowser(border-radius, 10px);
    cursor: default;
}

.template-picker-item:nth-child(odd) {
    background: #E8E8FF;
    &.x-boundlist-item-over {
        background: #DFE8F6;
    }
}


// NETWORK TAB
.bridge-interface-members {
    min-height: 20px;
    div {
        @extend .horizontal-dataview-item;

        $color: #f0f0ff;
        @include bg-and-border($color);

        &:hover {
            @include bg-and-border(darken($color, 5%));
        }
    }
}


// VMMAP tab
.cpu-legend {
    background: url(ico("cpu-legend"));
}
.memory-legend {
    background: url(ico("memory-legend"));
}
.disk-legend {
    background: url(ico("disk-legend"));
}
.computestatecontrol {
    .x-btn {
        border-width: 0;
        background: transparent;

        opacity: 0.75;
        &:hover { opacity: 1.0; }

        &.x-btn-disabled {
            opacity: 0.35 !important;
        }
    }
}

.resources {
    ol ol, ol ul, ul ol, ul ul  {
        margin-left: 2em;
    }
    ol ul, ul ul {
        li{
            list-style: disc;
        }
    }
    li{
        strong{
            font-weight: bolder;
            padding-right: 3px;
        }
    }

}

.ulist {
    ul {
        li{
            padding-left: 1em;
            list-style: disc;
        }
    } 
}
