@mixin xbrowser($name, $val) {
    #{$name}: $val;
    -ms-#{$name}: $val;
    -webkit-#{$name}: $val;
    -moz-#{$name}: $val;
}

@mixin c-icon {
    background-position:  center 3px;
    background-repeat: no-repeat;
    float: left;
    margin-left: $state-icon-margin;
    margin-right: $state-icon-margin;
    padding-top: $state-icon-margin;
    width: $state-icon-size;
    height: $search-result-height;
    color: #363636;
    vertical-align: bottom;
    text-align:center;
    font-size:10px;
    line-height: 55px; 
}
