#vmmap {
    .node-cell {
        border: 1px solid #CCC;
        padding: 5px;
        margin-right: -1px;
        margin-top: -1px;
        float: left;
        &:hover .uptime {
            opacity: 0.5;
        }
        &.inactive {
            background-color: #FEDEDE;
        }
        &.selected {
            background-color: #D0F8F0;
        }
        &.tag-highlight {
            border: 2px solid #333399;
            margin-right: 0px;
        }
    }
    .node-cell-free {
        border: 1px solid #CCC;
        padding: 5px 5px 42px;
        margin-top: -1px;
        float: left;
        background-color: #D0F8D0;
        opacity: 0.6;
    }
    .x-grid-cell-inner {
        overflow-x: auto;
    }
    .name {
        font-decoration: italic;
        text-overflow: ellipsis;
        word-wrap: break-word;
        height: 1.2em;
        margin-left: 2px;
    }
    .mem {
        margin-top: 2px;
        padding-left: 8px;
        color: #4e0e0e;
        text-align: center;
        font-size: 120%;
    }
    .uptime {
        color: #303030;
        opacity: 0.25;
    }
    .cores {
        margin-left: 3px;
        color: #6e6eae;
    }
    .resize-container {
        display: inline-block;
        float: left;
        margin-right: 4px;
    }
    .resizer {
        margin-top: -1px;
        cursor: w-resize;
        float: left;
        width: 18px;
        background-color: #CCC;
    }
    .bar {
        max-width: 40px;
        margin-top: 3px;
        background-color: lightgray;

        div {
            width: 0px;
            @include xbrowser(transition, width 0.25s ease-out);
        }
        &.cpubar div {
            background-color: #007FF6;
        }
        &.memorybar div {
            background-color: #80A050;
        }
        &.diskspacebar div {
            background-color: #FFD838;
        }

        &, div {
            $height: 5px;

            height: $height;
            border-radius: $height / 2;
        }
        &.cpubar, div {
            background-color: #B0C0C8;
        }
        &.memorybar, div {
            background-color: #B0C0A8;
        }
        &.diskspacebar, div {
            background-color: #C8C098;
        }

        &.overload {
            @include xbrowser(animation, blink 0.5s infinite alternate);
        }
    }
    .tags {
        margin-top: 15px;
        float: right;
    }
    .tag {
        text-align: center;
        color: #000000;
        width: 16px;
        height: 16px;
        opacity: 0.25;
        &:hover  {
            opacity: 0.7;
        }
    }
}
