#vmmap {
    .node-cell {
        border: 1px solid #CCC;
        padding: 5px;
        float: left; 
        &:hover .uptime {
            opacity: 0.4;
        }
        &.free {
            background-color: #D0F8D0;
            opacity: 0.6;
            padding-bottom: 18px;
        }
        &.selected {
            background-color: #D0F8F0;
        }
    }
    .x-grid-cell-inner {
        overflow-x: auto;
    }
    .name {
        font-decoration: italic;
        overflow-y: hidden;
        word-wrap: break-word;
        height: 1.2em;
        margin-bottom: -3px;
    }
    .mem {
        margin-top: 6px;
        margin-bottom: -6px;
        padding-left: 8px;
        color: #4e0e0e;
        text-align: center;
        font-size: 120%;
    }
    .uptime {
        color: #303030;
        opacity: 0.1;
    }
    .cores {
        color: #6e6eae;
    }
}
