.project
.pydevproject
ext-4.0
*~
.sass-cache/
*.egg-info
*.pyc
RELEASE-VERSION
bin
.installed.cfg
develop-eggs
eggs
parts
dist
docs/Makefile
docs/make.bat
docs/html
docs/doctrees
docs/source/gen
docs/source/jsdoc
docs/source/jsdocapp
config.js
ext-4.2.1-gpl.zip
lib/ext-4.2/
.idea
/oldtests
/.sencha_backup/
/ext/
/build
.*.swp
