.webshell a {
    text-decoration:  none;
    color:            inherit;
}

.webshell a:hover {
    text-decoration:  underline;
}

.webshell #reconnect {
    position:         absolute;
    z-index:          2;
}

.webshell #reconnect input {
    padding:          1ex;
    font-weight:      bold;
    font-size:        x-large;
}

.webshell #cursize {
    background:       #EEEEEE;
    border:           1px solid black;
    font-family:      sans-serif;
    font-size:        large;
    font-weight:      bold;
    padding:          1ex;
    position:         absolute;
    z-index:          2;
}

.webshell pre {
    margin:           0px;
}

.webshell pre pre {
    overflow:         hidden;
}

.webshell #scrollable {
    overflow-x:       hidden;
    overflow-y:       scroll;
    position:         relative;
    padding:          1px;
}

@font-face {
    font-family: 'MonacoRegular';
    src: url('monaco-webfont.eot');
    src: url('monaco-webfont.eot?#iefix') format('embedded-opentype'),
        url('monaco-webfont.woff') format('woff'),
            url('monaco-webfont.ttf') format('truetype'),
                url('monaco-webfont.svg#MonacoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


.webshell #console, .webshell #alt_console, .webshell #cursor, .webshell #lineheight {
    font-family:      "Monaco" , "DejaVu Sans Mono", "Everson Mono", FreeMono, "Andale Mono", "Lucida Console", monospace;
    font-weight: 550;
    font-size: 10pt;
}

.webshell #lineheight {
    position:         absolute;
    visibility:       hidden;
    height:           18px;
}

.webshell #cursor {
    position:         absolute;
    left:             0px;
    top:              0px;
    overflow:         hidden;
    z-index:          1;
}

.webshell #cursor.bright {
    background-color: #e60000;
    color:            white;
}

.webshell #cursor.dim {
    visibility:       hidden;
}

.webshell #cursor.inactive {
    border:           1px solid #e60000;
    margin:           -1px;
}

.webshell #padding {
    visibility:       hidden;
    width:            1px;
    height:           0px;
    overflow:         hidden;
}

.webshell .hidden {
    position:         absolute;
    top:              -10000px;
    left:             -10000px;
    width:            0px;
    height:           0px;
}

.webshell #menu {
    overflow:         visible;
    position:         absolute;
    z-index:          3;
}

.webshell #menu .popup {
    background-color: #EEEEEE;
    border:           1px solid black;
    font-family:      sans-serif;
    position:         absolute;
}

.webshell #menu .popup ul {
    list-style-type:  none;
    padding:          0px;
    margin:           0px;
    min-width:        10em;
}

.webshell #menu .popup li {
    padding:          3px 0.5ex 3px 0.5ex;
}

.webshell #menu .popup li.hover {
    background-color: #444444;
    color:            white;
}

.webshell #menu .popup li.disabled {
    color:            #AAAAAA;
}

.webshell #menu .popup hr {
    margin:           0.5ex 0px 0.5ex 0px;
}

.webshell #menu img {
    margin-right:     0.5ex;
    width:            1ex;
    height:           1ex;
}

.webshell #scrollable.inverted { color:            #ffffff;
    background-color: #000000; }
.webshell .ansi0               {                            }
.webshell .ansi1               { color:            #cd0000; }
.webshell .ansi2               { color:            #00cd00; }
.webshell .ansi3               { color:            #cdcd00; }
.webshell .ansi4               { color:            #729fcf; }
.webshell .ansi4               { color:            #3465a4; }

.webshell .ansi5               { color:            #cd00cd; }
.webshell .ansi6               { color:            #00cdcd; }
.webshell .ansi7               { color:            #e5e5e5; }
.webshell .ansi8               { color:            #7f7f7f; }
.webshell .ansi9               { color:            #ff0000; }
.webshell .ansi10              { color:            #00ff00; font-weight: 900;}
.webshell .ansi11              { color:            #e8e800; font-weight: 900;}
.webshell .ansi12              { color:            #729fcf; font-weight: 900;}
.webshell .ansi13              { color:            #ad7fa8; font-weight: 900;}
.webshell .ansi14              { color:            #00ffff; font-weight: 900;}
.webshell .ansi15              { color:            #ffffff;}

.webshell .bgAnsi0             { background-color: #000000; }
.webshell .bgAnsi1             { background-color: #cd0000; }
.webshell .bgAnsi2             { background-color: #00cd00; }
.webshell .bgAnsi3             { background-color: #cdcd00; }
.webshell .bgAnsi4             { background-color: #3465a4; }
.webshell .bgAnsi5             { background-color: #cd00cd; }
.webshell .bgAnsi6             { background-color: #00cdcd; }
.webshell .bgAnsi7             { background-color: #e5e5e5; }
.webshell .bgAnsi8             { background-color: #7f7f7f; }
.webshell .bgAnsi9             { background-color: #ff0000; }
.webshell .bgAnsi10            { background-color: #00ff00; }
.webshell .bgAnsi11            { background-color: #e8e800; }
.webshell .bgAnsi12            { background-color: #5c5cff; }
.webshell .bgAnsi13            { background-color: #ff00ff; }
.webshell .bgAnsi14            { background-color: #00ffff; }
.webshell .bgAnsi15            {                            }

@media print {
    .webshell .scrollback {
        display:        none;
    }

    .webshell #reconnect, .webshell #cursor, .webshell #menu {
        visibility:     hidden;
    }

    .webshell #scrollable {
        overflow:       hidden;
    }

    .webshell #console, .webshell #alt_console {
        overflow:       hidden;
        width:          1000000ex;
    }
}


/* black on white */
.webshell #scrollable          { color:            #ffffff;
    background-color: #000000; }
.webshell #scrollable.inverted { color:            #000000;
    background-color: #ffffff; }
.webshell .ansi15              { color:            #000000; }
.webshell .bgAnsi0             { background-color: #ffffff; }

.webshell .ansi0.bgAnsi7             { color: #000000; }

/* end black on white */
