@import "utils";

@mixin blink-keyframes {
    from { opacity: 1.0; }
    to { opacity: 0.1; }
}

@keyframes blink { @include blink-keyframes(); }
@-webkit-keyframes blink { @include blink-keyframes(); }
@-moz-keyframes blink { @include blink-keyframes(); }

.gauge {
    text-align: center;
    padding: 5px;
    @include xbrowser(border-radius, 5px);
    overflow: hidden;

    span { font-size: 11px; }
    label { font-weight: bold; }
    & > span { white-space: nowrap; }

    .bar {
        margin-top: 3px;
        background-color: lightgray;

        div {
            background-color: blue;
            @include xbrowser(transition, width 0.25s ease-out);
        }

        &, div {
            $height: 5px;

            height: $height;
            border-radius: $height / 2;
        }

        &.overload {
            @include xbrowser(animation, blink 0.5s infinite alternate);
        }
    }

    &.with-icon {
        padding-left: 35px;
        background-repeat: no-repeat;
        background-position: 5px 5px;
    }

    &.with-border {
        border: 1px solid lightblue;
    }
}
.gauge.problem{
    color:gray;
}
.gauge.problem .bar div {
    background-color:gray !important;
}
