@import "utils";

#loading-mask {
  position: absolute;
  left:     0;
  top:      0;
  width:    100%;
  height:   100%;
  z-index:  20000;
  background-color: white;
}

#loading {
  position: absolute;
  left:     50%;
  top:      50%;
  padding:  2px;
  z-index:  20001;
  height:   auto;
  margin:   -35px 0 0 -30px;
}

#loading .loading-indicator {
  background: url(/resources/img/onloader.gif) no-repeat;
  color:      #555;
  padding:    53px 0px;
  margin:     0;
  height:     auto;
  font:       13px tahoma,arial,helvetica;
  text-align: center;
}
