.x-tab-default .x-tab-icon-el {
    width: 24px;
    height: 24px;
    line-height: 22px;
}
.x-tab-default-icon-text-left .x-tab-inner{
   padding-left: 28px;
}
.x-tab-default .x-tab-inner {
  line-height: 22px;
}
.x-tab-bar-plain {
  height: 32px;
}